.homeBaseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
  padding: 20px;
  width: 60%;
  height: 100%;
  background-color: #f9f9f9ea;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main_app {
  background-color: white;
}

.home_container {
  background-color: rgb(255, 255, 255);
}

.main_container {
  color: black;
}