.postContainer {
  margin-bottom: 30px;
  margin-top: 20px;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: min-content;
  height: min-content;
}

.userProfileContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.userName {
  font-weight: bold;
  padding-left: 10px;
}

.postMessage {
  margin-bottom: 20px;
  margin-top: 20px;
}

.postImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}

.avatar_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background-color: rebeccapurple;
  color: rgb(21, 209, 36);
}

.avatar_letter {
  font-weight: bold;
  font-size: 18px;
}

.post_span_comment_container {
  color: black;
  cursor: pointer;
  font-weight: bold;
} 

.post_span_comment_container :hover {
  color: blue;
  cursor: pointer;
  font-weight: bold;
} 