.sub_comment_main_container {
  display: flex;
  flex-direction: row;
}

.sub_comment_profile_container {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px; 
  height: 20px;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
}

.sub_comment_container {
  color: black;
  height: min-content;
  max-width: 50%;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
}

.sub_comment_msg_container {
  font-style: italic;
  font-weight: 400;
  font-size: medium;
}

.sub_comment_footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size:smaller;
  font-weight:100;
}

.child_count {
  padding: 10px;
}

.child_count:hover {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.like_count {
  padding: 10px;
}

.like_count:hover {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}