.create_new_post_container1 {
  bottom: 5px;
  left: 50%;
  position: fixed;
}

.newPostButton {
  background-color: #5e5555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(85, 72, 72, 0.1);
  cursor: pointer;
}

.plusSymbol {
  font-size: 24px;
  font-weight: bold;
  color: #dae5de;
}

.newPostText {
  display: none;
}
